extends layout

block content
	div.boat
		pre.
			<br/>
			<br/>
			                         _._
			                          :.
			                          : :
			                          :  .
			                         .:   :
			                        : :    .
			                       :  :     :
			                      .   :      .
			                     :    :       :
			                    :     :        .
			                   .      :         :
			                  :       :          .
			                 :        :           :
			                .=w=w=w=w=:            .
			                          :=w=w=w=w=w=w=.
			           \--._______:U~~~~~~~~\_________.:---/
			            \      ____===================____/
			.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,^"~-,.
			"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^,.,-~"
			"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~,-~"^"
	div#download
		- var link = 'Download<br/> ' + apk
		a(href='/download') !{link}
