extends layout

block content
	h1= Kandu
	a(href='/map') Map
	div.boat
		pre.
			                         _._
			                          :.
			                          : :
			                          :  .
			                         .:   :
			                        : :    .
			                       :  :     :
			                      .   :      .
			                     :    :       :
			                    :     :        .
			                   .      :         :
			                  :       :          .
			                 :        :           :
			                .=w=w=w=w=:            .
			                                :=w=w=w=w=w=w=.....
			           \--._______:U~~~~~~~~\_________.:---/
			            \      ____===================____/
			.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.
			"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"
			"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"~-,.,-~"^"
	div#download
		a(href='/download') Download apk
