extends layout

block content
	h1= title
		div#map(style="height: 400px; width: 100%")
			script.
				function initMap() {
				  var maldives = {lat: 4.178044, lng: 73.505828};
				  var map = new google.maps.Map(document.getElementById('map'), {
				    zoom: 9,
				    center: maldives
				  });
				  var marker = new google.maps.Marker({
				    position: maldives,
				    map: map
				  });
				}

			script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0g37AIh4J1U1YeO_cN9g0gxnv6YnreYQ&callback=initMap")
