body {
		background: #4cd6ff;
		padding: 50px;
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	
}

#download {
	-webkit-box-shadow: 0px 4px 19px -6px rgba(0,0,0,0.36); 
	-moz-box-shadow: 0px 4px 19px -6px rgba(0,0,0,0.36); 
	box-shadow: 0px 4px 19px -6px rgba(0,0,0,0.36);
	margin: 0 auto;
	text-align: center;
	width: 120px;
	height: 45px;
	line-height: 45px;
	vertical-align: middle;
	padding: 5px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.36);
	background-color: white;
	border-radius: 8px;
}

#userList ul li {
	display: inline-block;
	width: auto;
	height: 25px;
	background: white;
	border-radius: 8px;
	margin: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.36);
}

#userList ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 12px;
	line-height: 0px;
}

a {
	text-align: center;
	
	color: #00122d;
}

.boat {
	text-align: center;
	margin-top: 20vh;
	height: 400px;
	width: 480px;
	margin: auto;
}

td {
	border: 1px solid #7faef9;
	padding: 5px;
	border-radius: 4px
}
