extends layout

block content
	img(src='/images/nudes.png' height='500px' width= '500px')
	div.degeneracy
		a(href='vidhaafaiy.com') hi buy my soaps
	iframe(width="560", height="315", src="https://www.youtube.com/embed/3YxaaGgTQYM?start=72&autoplay=1", frameborder="0", allowfullscreen)
